body{
    width:640px;
    height:900px;
}

#touch{
    height:900px;
    width:640px;
    background-color: red;
    z-index: 1;
    opacity: 0.5;
    position: absolute;
}

#keyarea{
    width:640px;
    height:450px;
    background-color: black;
    z-index:2;
    opacity:0.5;
    position: absolute;
    margin-top:450px;
    display:none;
}

#outputText{
    color:white;
    width:620px;
    padding: 10px;
    font-size:30px;
    line-height: 32px;
}